.center {
  margin: 0;
  position:absolute;
  top: 450px;
  bottom: -50px;
  left: 50%;
  -ms-transform: translate(-40%, -40%);
  transform: translate(-40%, -40%);
  margin-top: 9px;
  margin-left: 68px;
}

.name {
  margin: 0;
  position:absolute;
  top: 400px;
  bottom: -50px;
  left: 50%;
  -ms-transform: translate(-40%, -40%);
  transform: translate(-40%, -40%);
  text-align: center;
  
  


}

.label {
  color: whitesmoke;
  font-size: 20px;
  font-style: italic;
  padding-right: 150px;
}

.gender {

  margin: 0;
  position:absolute;
  top: 0px;
  bottom: -100px;
  font-size: 30px;
  -ms-transform: translate(-40%, -40%);
  transform: translate(-40%, -40%);
  margin-left: -35px;

  font-style: italic;
  
}
.header {

  
  position:absolute;
  top: 0%;
  bottom: -300px;
  font-size: 22px;
  -ms-transform: translate(-40%, -40%);
  transform: translate(-40%, -40%);
  margin-left: 350px;

text-align: center;
  font-style:oblique;
  outline-color: rgb(133, 72, 105);
  color: whitesmoke;
  
}

.hero-body{
  
  margin-left: 100px;
  margin-right: 100px;
  width: 50%;
  

}